Data/ECO2_seq_gm*
Data/ECO3_seq_gm*
Data/ECO6_seq_gm*
Data/ECO6_seq_gm*
Data/MRU5_seq_gm*
Data/MRU6_seq_gm*
Data/MRU7_seq_gm*
Data/MRU9_seq_gm*
Data/PHE4_seq_gm*
Data/PHE6_seq_gm*
Data/PHE7_seq_gm*
gmsuite/*
Data/ECO2_seq_on*
Data/ECO3_seq_on*
Data/ECO6_seq_on*
Data/ECO6_seq_on*
Data/MRU5_seq_on*
Data/MRU6_seq_on*
Data/MRU7_seq_on*
Data/MRU9_seq_on*
Data/PHE4_seq_on*
Data/PHE6_seq_on*
Data/PHE7_seq_on*