{% extends "base.html" %}

{% block title %}Object "{{ name }}"{% endblock %}

{% block content %}
    <h2>Object name: {{ name }}</h2>
    {% for proclog in proclogs %}
        <hr />
        <p class="info_item">Image name: {{ proclog.pclg_image_name }}</p>
        <p class="info_item">Exposure: {{ proclog.pclg_exposure }}</p>
        <p class="info_item">CCD temperature: {{ proclog.pclg_CCD_temp }}</p>
        <p class="info_item">Filter: {{ proclog.pclg_filter }}</p>
        <p class="info_item">Mid-exposure time: {{ proclog.pclg_exp_time }}</p>
        <p class="info_item">Latitude: {{ proclog.pclg_latitude }}</p>
        <p class="info_item">Longitude: {{ proclog.pclg_longitude }}</p>
        <p class="info_item">Altitude: {{ proclog.pclg_altitude }}</p>
        <p class="info_item">Astrometric catalog: {{ proclog.pclg_catalog_astrometric }}</p>
        <p class="info_item">Image center RA: {{ proclog.pclg_image_center_RA }}</p>
        <p class="info_item">Image center DEC: {{ proclog.pclg_image_center_DEC }}</p>
    {% endfor %}
{% endblock %}
